{# Name:Emhenya Supreme, Student Number:3132969#}

<!-- views/layout.njk -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Concert Search{% endblock %}</title>
</head>
<body>
    <header>
         <h2>Based on search by {{username}}</h2>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p> 2024 Concert Finder created by Supreme</p>
    </footer>
</body>
</html>
