{# Name:Emhenya Supreme, Student Number:3132969#}
<!-- views/noConcerts.njk -->
{% extends "layout.njk" %}

{% block title %}No Concerts Found{% endblock %}

{% block content %}
    <h3>No concerts found for {{ artist }} in {{ location }}</h3>
    <p>Unfortunately, we could not find any concerts for the artist {{ artist }} in the location {{ location }}.</p>
{% endblock %}